[class*="col-"] {
    border: 1px solid white;
    background-color: #006cfa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
}

span{
    color:#fff; 
}

.spacer{
    margin-bottom: 2rem;
}

.row{
    width: 100%;
}

.ml-mr{
    margin: 0 2%;
}

.green{
    background-color: limegreen;
    height: 2.5rem;
    border: 1px solid blue;
}