[class*="col-"] {
    border: 1px solid white;
    background-color: #006cfa;
}

.text-align{
    text-align: center;
}

span{
    color:#fff; 
}

.padding{
    padding: 1rem;
}

.spacer{
    margin-bottom: 2rem;
}

.spacer-1{
    margin: 1rem 0;
}

.spacer-2{
    margin: 2rem 0;
}

.row{
    width: 100%;
}

.ml-mr{
    margin: 0 2%;
}

.green{
    background-color: limegreen;
    border: 1px solid blue;
}
